{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid mt-5 text-center">

      <h1>Mashin elanlari</h1>

        <div class="row mt-5">
            {% for car in cars %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem; margin: 0 auto;">
                    <img class="card-img-top" src="{{car.image.url}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{car.marka}} {{car.model}}</h5>
                      <p class="card-text">{{car.year}} il buraxilishi</p>
                      <a href="{% url 'core:car' car.id%}" class="btn btn-primary">Etrafli</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
