{% extends 'base.html' %}
{% block content %}

<div style="text-align: center; margin-top: 50px;">
  <form action="">
    <input name="search" placeholder="Axtar..." type="text" style="width: 400px; padding: 10px;">
    <input type="submit" style="padding: 10px;">
  </form>
</div>


  <div class="container-fluid mt-5 text-center">
    <h1>Xeberler</h1>
    <div class="row mt-5">
      {% for xeber in xeberler %}
      <div class="col-md-4">
        <div class="card" style="width: 18rem; margin: 0 auto;">
          <img class="card-img-top" src="{{xeber.image.url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ xeber.title }}</h5>
            <p class="card-text">{{ xeber.description }}</p>
            <a href="{% url 'core:news_detail' xeber.id %}" class="btn btn-primary">Etrafli</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
  </div>
{% endblock %}
   

    

    

